openapi: 3.0.3
info:
  title: BalaGuide API
  description: API для автоматизированной платформы записи детей на образовательные курсы
  version: 1.0.0

servers:
  - url: https://balaguide.kz
    description: Основной сервер
  - url: http://localhost:8081
    description: Локально

tags:
  - name: Authentication
    description: Эндпоинты для аутентификации пользователей
  - name: Parent
    description: Эндпоинты для родителей
  - name: Child
    description: Эндпоинты для детей
  - name: Course
    description: Эндпоинты, связанные с курсами

paths:
  /auth/sign-up:
    post:
      tags:
        - Authentication
      summary: Регистрация пользователя
      description: Регистрация нового пользователя (Parent, Child, Teacher, Education Center)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpUserRequest'
      responses:
        '201':
          description: Успешная регистрация
        '400':
          description: Ошибка валидации данных
        '409':
          description: Пользователь уже существует

  /auth/sign-in:
    post:
      tags:
        - Authentication
      summary: Вход в систему
      description: Вход по номеру телефона и паролю для Parent или Child
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInUserRequest'
      responses:
        '200':
          description: Успешная авторизация
        '401':
          description: Неверные учетные данные


  /api/v1/parents/create:
    post:
      summary: Создать родителя
      description: Регистрация нового родителя и привязка к AuthUser по номеру телефона
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateParentRequest'
      responses:
        '201':
          description: Родитель успешно создан
        '400':
          description: Ошибка валидации данных
        '409':
          description: Родитель с таким email уже существует
      tags:
        - Parent
        
  /api/v1/parentId/add-child:
    post:
      summary: Создать ребенка
      description: Регистрация нового ребенка
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChildRequest'
      responses:
        '201':
          description: Ребенок успешно создан
        '400':
          description: Ошибка валидации данных
      tags:
        - Parent

  /api/v1/parents/{parentId}/my-children:
    get:
      summary: Получить детей родителя
      tags:
        - Parent
      parameters:
        - in: path
          name: parentId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Список детей


  /api/v1/children:
    get:
      summary: Получить всех детей
      tags:
        - Child
      responses:
        '200':
          description: Список всех детей

  /api/v1/parents/{parentId}/remove-child/{childId}:
    delete:
      summary: Удалить ребенка
      tags:
        - Child
      parameters:
        - in: path
          name: parentId
          required: true
          schema:
            type: integer
        - in: path
          name: childId
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Ребенок удален


  /api/v1/courses/search-courses:
    get:
      summary: Поиск курсов по ключевому слову
      tags:
        - Course
      parameters:
        - in: query
          name: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Список найденных курсов

  /api/v1/parents/{parentId}/add-balance:
    post:
      summary: Пополнение баланса родителя
      tags:
        - Parent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBalanceRequest'
      responses:
        '200':
          description: Баланс успешно пополнен
        '400':
          description: Неверные данные

  /api/v1/parents/{parentId}/add-child:
      post:
        summary: Создать ребенка
        description: Регистрация нового ребенка
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChildRequest'
        responses:
          '201':
            description: Ребенок успешно создан
          '400':
            description: Ошибка валидации данных
        tags:
          - Parent

  /api/v1/children/enroll-to-course:
      post:
        summary: Записать ребенка на курс
        tags:
          - Child
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollChildToCourseRequest'
        responses:
          '200':
            description: Успешная запись
          '400':
            description: Ошибка валидации данных
      
components:
  schemas:
    SignUpUserRequest:
      type: object
      required:
        - phoneNumber
        - password
        - role
      properties:
        phoneNumber:
          type: string
        password:
          type: string
          format: password
        role:
          type: string
          enum: [PARENT, CHILD, EDUCATION CENTER, TEACHER]
    
    SignInUserRequest:
      type: object
      required:
        - phoneNumber
        - password
      properties:
        phoneNumber:
          type: string
          format: phoneNumber
        password:
          type: string
          format: password
          
    CreateParentRequest:
      type: object
      required:
        - firstName
        - lastName
        - phoneNumber
        - birthDate
        - email
      properties:
        firstName:
          type: string
          description: Имя родителя
        lastName:
          type: string
          description: Фамилия родителя
        phoneNumber:
          type: string
          pattern: "\\+?\\d{10,15}"
          description: "Номер телефона родителя в формате +XXXXXXXXXXX (10-15 цифр)"
        birthDate:
          type: string
          format: date
          description: "Дата рождения родителя (должна быть в прошлом)"
        email:
          type: string
          format: email
          description: "Email родителя в формате user@example.com"
          
    CreateChildRequest:
      type: object
      required:
        - firstName
        - lastName
        - phoneNumber
        - birthDate
        - email
        - gender
      properties:
        firstName:
          type: string
          description: Имя ребенка
        lastName:
          type: string
          description: Фамилия ребенка
        phoneNumber:
          type: string
          pattern: "\\+?\\d{10,15}"
          description: "Номер телефона ребенка в формате +XXXXXXXXXXX (10-15 цифр)"
        password:
          type: string
          format: password
          writeOnly: true
          description: "Пароль (не отображается в ответах API)"
        birthDate:
          type: string
          format: date
          description: "Дата рождения ребенка (должна быть в прошлом)"
        email:
          type: string
          format: email
          description: "Email ребенка в формате user@example.com"
        gender:
          type: string
          enum: [MALE, FEMALE, OTHER]
          description: "Пол ребенка"    
    
    AddBalanceRequest:
      type: object
      required:
        - amountOfMoney
        - numberOfBankCard
      properties:
        amountOfMoney:
          type: number
          format: double
        numberOfBankCard:
          type: string

    EnrollChildToCourseRequest:
        type: object
        required:
          - parentId
          - courseId
          - groupId
          - childId
          - methodType
        properties:
          parentId:
            type: integer
          courseId:
            type: integer
          groupId:
            type: integer
          childId:
            type: integer
          methodType:
            type: string
            enum: [ ENROLL, UNENROLL ]




